.section {
  padding: 2rem;
  background-color: black;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.faqContainer {
  max-width: 800px;
  margin: 0 auto;
}

/* Contenedor de cada item de la FAQ */
.faqItem {
  background-color: #27272a;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.faqButton {
  background-color: #27272a;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.faqButton:hover {
  background-color: #3a3a3c;
}

.faqButton span {
  font-size: 1.5rem;
}

/* Animación de la respuesta */
.faqAnswer {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.faqAnswerVisible {
  max-height: 500px; /* Ajusta este valor según el contenido */
  padding: 1rem;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

/* Estilos de accesibilidad */
.faqButton[aria-expanded="true"] {
  background-color: #3a3a3c;
}

.faqButton[aria-expanded="false"] {
  background-color: #27272a;
}
