.section01 {
    text-align: center;
    padding: 3rem 1rem;
    color: #fff;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #ccc;
}

.contentEmail {
    max-width: 500px;
    margin: 0 auto;
}

.description {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #ccc;
}

.form {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Se adapta en pantallas pequeñas */
}

.input {
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    flex-grow: 1;
    min-width: 200px; /* Para que no se haga muy pequeño */
    color: #fff;
    outline: none;
    transition: border 0.3s ease;
}

.input::placeholder {
    color: #aaa;
}

.input:focus {
    border-color: #e50914;
}

.button {
    background-color: #e50914;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #b81d24;
}

.icon {
    margin-left: 4px;
    stroke: currentColor;
}

@media (max-width: 600px) {
    .form {
        flex-direction: column;
    }

    .button {
        width: 100%;
        justify-content: center;
    }
}
